*{
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

textarea {
    resize: none;
}

body {
    // background-color: darkslategrey;
    padding: 20px;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    section {
        flex-grow: 1;
        text-align: right;
    }

    textarea {
        display: block;
        width: 100%;
        padding: 8px;
    }
}

$blue: #0083ba;
button {
    cursor: pointer;
    color: #fff;
    font-size: 1.25rem;
    margin-top: 16px;
    padding: 10px 30px;
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: 5px;;
    transition: all .3s ease;
    transition: transform .1s ease;

    &:hover {
        color: #000;
        background-color: #fff;
        // opacity: 0.9;
    }

    &:active {
        // box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}
