$blue: #0083ba;
$button_color: $blue;

*{
    box-sizing: border-box;
    // font-family: "Open Sans", sans-serif;
    font-family: "Times New Roman", "Open Sans", sans-serif;

    &:focus {
        outline: none;
    }
}

body {
    padding: 20px;
    padding-bottom: 80px;
}

h1 {
    margin-top: 0;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 640px) {
        flex-direction: column;
        gap: 56px;
    }

    section {
        width: 50%;
        @media (max-width: 640px) {
            width: 100%;
        }

        flex-grow: 1;
        text-align: center;
    }

    textarea {
        resize: none;
        display: block;
        width: 100%;
        padding: 8px;
        border: 1px solid #767676;
        border-radius: 5px;

        &:focus {
            outline: none;
        }
    }

    div {
        display: flex;
        margin-top: 16px;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        button {
            flex-grow: 1;
            margin: 0;

            &#debug-button {
                flex-grow: 2;
            }
        }
    }
}

button {
    cursor: pointer;
    color: #fff;
    margin-top: 16px;
    font-size: 1.25rem;
    line-height: 28px;
    padding: 10px 30px;
    background-color: $button_color;
    border: 2px solid $button_color;
    border-radius: 5px;;
    transition: all .3s ease, transform .1s ease;

    &:hover {
        color: #000;
        background-color: #fff;
    }

    &:active {
        transform: translateY(4px);
    }
}
